[submodule "ExternalModules/CMakeUtils"]
	path = ExternalModules/CMakeUtils
	url = git@github.com:jpincho/CMakeUtils
[submodule "ExternalModules/Platform"]
	path = ExternalModules/Platform
	url = git@github.com:jpincho/Platform
[submodule "ExternalModules/Math"]
	path = ExternalModules/Math
	url = git@github.com:jpincho/Math
[submodule "ExternalModules/C_Utils"]
	path = ExternalModules/C_Utils
	url = git@github.com:jpincho/C_Utils
